

:root {
    --c-brand: rgba(59, 130, 246);
    --c-brand-light: rgba(37, 99, 235);
    --c-brand-bg: rgba(59, 130, 246, 0.1);

    // --c-border: #fff;
    // --c-border-dark: #fff;
}

html.dark {
    --c-brand: rgba(59, 130, 246);
    --c-brand-light: rgba(37, 99, 235);
    --c-brand-bg: rgba(59, 130, 246, 0.1);

    --c-bg: #000;

    --c-text: #eee;
    --c-text-light: #eee;
    --c-text-lighter: #eee;
    --c-text-lightest: #eee;

    --c-border: #222;
    --c-border-dark: #222;
}