

:root {
    --c-brand: rgba(59, 130, 246);
    --c-brand-light: rgba(37, 99, 235);

    --c-border: #fff;
    --c-border-dark: #fff;
}

html.dark {
    --c-brand: rgba(59, 130, 246);
    --c-brand-light: rgba(37, 99, 235);

    --c-bg: #000;

    --c-text: #fff;
    --c-text-light: #fff;
    --c-text-lighter: #fff;
    --c-text-lightest: #fff;

    --c-border: #000;
    --c-border-dark: #000;
}