{{ define "ComponentContent" }}
<div class="container mx-auto px-4 flex flex-col-reverse md:flex-row {{ if .Reverse }} md:flex-row-reverse {{ end }}">
    <div class="mt-8 md:mt-0 w-full md:w-1/2 flex items-center justify-center">
        <div class="max-w-lg">
            <h3 class="text-4xl md:text-5xl font-semibold font-serif text-center md:text-left">
                {{ .Title }}
            </h3>
            <p class="mt-4 text-center md:text-left">
                {{ .Description }}
            </p>
            <div class="mt-4 text-center md:text-left">
                {{ if .LinkTitle }}
                    <a href="{{ .LinkHref }}" class="text-blue-500">{{ .LinkTitle }}</a>
                {{ end }}
            </div>
        </div>
    </div>
    <div class="w-full md:w-1/2 flex items-center justify-center">
        <img src="{{ .Photo }}" class="h-full w-full"/>
    </div>
</div>
{{ end }}
