{{ define "ComponentSideBySide" }}
<div class="px-4">
    <div class="text-center text-4xl md:text-5xl font-semibold font-serif">{{ .Title }}</div>
    <div class="mt-8 md:mt-0 flex flex-wrap justify-center gap-8">
        <div class="w-full max-w-sm md:py-4 text-center md:text-right">
            <div class="font-semibold tracking-wide uppercase">{{ .LeftSubtitle }}</div>
            <ul class="mt-4 md:list-disc list-inside" dir="rtl">
                {{ range .LeftItems }}
                    <li class="whitespace-nowrap">{{ . }}</li>
                {{ end }}
            </ul>
        </div>
        <div class="w-full max-w-sm md:py-4 text-center md:text-left">
            <div class="font-semibold tracking-wide uppercase">{{ .RightSubtitle }}</div>
            <ul class="mt-4 md:list-disc list-inside">
                {{ range .RightItems }}
                    <li class="whitespace-nowrap">{{ . }}</li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>
{{ end }}
