{{ define "ComponentNavbar" }}
<!-- Navbar -->
<nav class="fixed top-0 left-0 right-0 z-10 py-3 px-4 flex items-center justify-between flex-wrap font-mono bg-white dark:bg-black dark:text-white bg-opacity-60 dark:bg-opacity-60 backdrop-blur-lg">
    <div class="hidden md:flex items-center gap-4 w-2/5">
        {{ range .Left }}
            <a href="{{ .Href }}" {{ if .AriaLabel }} aria-label="{{ .AriaLabel }}" {{ end }} class="hover:underline">
                {{ .Image }}
                {{ .Title }}
            </a>
        {{ end }}
    </div>
    <div class="md:hidden">
        <button onclick="ComponentNavbarMenuOpen()" name="navbar" class="flex items-center">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
        </button>
    </div>
    <a href="/" class="flex items-center flex-shrink-0">
        <span class="ml-2 text-xl font-bold hover:underline">kyoto</span>
    </a>
    <div class="hidden md:flex items-center justify-end gap-4 w-2/5">
        {{ range .Right }}
            <a href="{{ .Href }}" {{ if .AriaLabel }} aria-label="{{ .AriaLabel }}" {{ end }} class="font-medium hover:underline">
                {{ .Image }}
                {{ .Title }}
            </a>
        {{ end }}
    </div>
    <div class="md:hidden"></div>
</nav>
<!-- Mobile menu -->
<div id="nav-mobile" class="fixed inset-0 bg-black bg-opacity-50 z-10 transition duration-300 hidden opacity-0">
    <div class="w-full h-full flex">
        <div class="w-2/3 px-4 py-8 flex flex-col gap-4 font-medium bg-white dark:bg-black dark:text-white">
            <a href="/docs" onclick="ComponentNavbarMenuClose()">Documentation</a>
            <a href="mailto:yurii.zinets@icloud.com" onclick="ComponentNavbarMenuClose()">Contact</a>
        </div>
        <div class="w-1/3" onclick="ComponentNavbarMenuClose()"></div>
    </div>
</div>
<!-- Spacer -->
<div class="pt-12"></div>

<!-- JS for mobile menu -->
<script>
function ComponentNavbarMenuOpen() {
    document.querySelector('#nav-mobile').style.display = 'block'
    setTimeout(() => {
        document.querySelector('#nav-mobile').style.opacity = '100'
        console.log(document.querySelector('#nav-mobile').style.display)
    }, 100)
}
function ComponentNavbarMenuClose() {
    document.querySelector('#nav-mobile').style.opacity = '0'
    setTimeout(() => {
        document.querySelector('#nav-mobile').style.display = 'none'
    }, 300)
}
</script>
{{ end }}
