<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ meta . }}
    {{ dynamics }}
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div class="pt-24"></div>
    <div>
        <img src="/static/ssclogo.png" alt="Logo" width="400" class="m-auto">
    </div>
    <h1 class="mt-4 text-5xl text-center">Go SSC Demo Page</h1>
    <div class="pt-16"></div>
    <h2 class="text-3xl text-center">Httpbin UUID</h2>
    <p class="text-center">UUID, fetched on the server side, asynchronously, from httpbin.org</p>
    <div class="mt-2 text-center">
        {{ template "ComponentHttpbinUUID" .ComponentHttpbinUUID }}
    </div>
    <div class="pt-16"></div>
    <h2 class="text-3xl text-center">Counter</h2>
    <p class="text-center">Counter, fully implemented on server side (Server Side Actions, SSA)</p>
    <div class="mt-2 text-center">
        {{ template "ComponentCounter" .ComponentCounter }}
    </div>
    <div class="pt-16"></div>
    <h2 class="text-3xl text-center">Binding</h2>
    <p class="text-center">Demo of Client Side state binding with Server Side calculation</p>
    <div class="mt-2 text-center">
        {{ template "ComponentSampleBinding" .ComponentSampleBinding }}
    </div>
    <div class="pt-16"></div>
    <h2 class="text-3xl text-center">Parent Component Communication</h2>
    <p class="text-center">SSA, triggered from child component</p>
    <div class="mt-2 text-center">
        {{ template "ComponentSampleParent" .ComponentSampleParent }}
    </div>
    <div class="pt-16"></div>
</body>
</html>
