{{ define "ComponentFooter" }}
<footer class="px-3 py-8 bg-blue-500 text-white dark:bg-blue-900 dark:text-gray-200 transition-colors duration-200">
    <div class="flex flex-col">
        <div class="md:hidden mt-7 mx-auto w-11 h-px rounded-full">
        </div>
        <div class="mt-4 md:mt-0 flex flex-col md:flex-row">
            <nav class="flex-1 flex flex-col items-center justify-center md:items-end md:border-r border-gray-100 md:pr-5">
                {{ range .Left }}
                    <a href="{{ .Href }}" class="hover:text-gray-700 dark:hover:text-white">
                        {{ .Image }}
                        {{ .Title }}
                    </a>
                {{ end }}
            </nav>
            <div class="md:hidden mt-4 mx-auto w-11 h-px rounded-full">
            </div>
            <div class="mt-4 md:mt-0 flex-1 flex items-center justify-center md:border-r border-gray-100">
                {{ range .Center }}
                    <a href="{{ .Href }}" class="hover:text-gray-700 dark:hover:text-white">
                        {{ .Image }}
                        {{ .Title }}
                    </a>
                {{ end }}
            </div>
            <div class="md:hidden mt-4 mx-auto w-11 h-px rounded-full ">
            </div>
            <div class="mt-7 md:mt-0 flex-1 flex flex-col items-center justify-center md:items-start md:pl-5">
                {{ .Copyright }}
            </div>
        </div>
    </div>
</footer>
{{ end }}