{{ define "ComponentBlockFeatures" }}
<section class="px-4 sm:flex flex-wrap justify-center items-center text-center gap-8">
    {{ range .Entries }}
    <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/4 px-4 py-4 mt-6 rounded-lg dark:text-white">
        <div class="mt-4 flex-shrink-0">
            <div class="flex items-center mx-auto justify-center h-12 w-12 rounded-full bg-blue-500 text-white">
                {{ .Image }}
            </div>
        </div>
        <h3 class="text-3xl sm:text-4xl font-bold font-serif py-6">
            {{ .Title }}
        </h3>
        <p>
            {{ .Description }}
        </p>
    </div>
    {{ end }}
</section>
{{ end }}