{{ define "ComponentBlockFeaturesMore" }}
<div class="container mx-auto px-6  dark:text-white">
    <div class="mb-16 text-center">
        <h2 class="text-base text-blue-600 font-semibold tracking-wide uppercase">
            {{ .Title }}
        </h2>
        <p class="mt-2 text-4xl md:text-5xl font-semibold font-serif">
            {{ .Subtitle }}
        </p>
    </div>
    <div class="mt-12 flex flex-wrap justify-center gap-4 dark:text-white">
        {{ range .Entries }}
        <div class="py-8 px-6 max-w-sm flex flex-col items-center justify-center bg-gray-100 dark:bg-gray-900 rounded-lg">
            {{ .Image }}
            <div class="mt-2 text-xl font-bold text-center">
                {{ .Title }}
            </div>
            <p class="mt-4 text-gray-500 dark:text-gray-200 text-sm text-center h-10">
                {{ .Description }}
            </p>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
